

h1, a {
    color: steelblue;
}
h1, p {
    color: darkred;
    margin: 0 auto;
}
#emphasis{
    color: red;
}
#active{
    background-color: steelblue;
    color: white;
}
.room {
    background-color: grey;
}
img {
    width: 350px;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 1.3em;

}
a {
    text-decoration: none;
}